nav {
  height: 100px;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 220px;
  height: 50px;
  background-color: #9adfe5;
}
.hero-banner {
  background-image: url("../images/on-the-road.jpeg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  height: 200px;
  width: 100%;
}
.hero-banner img {
  padding-top: 20px;
  background-position: center;
  background-repeat: repeat;
  width: 200px;
  height: 200px;
}

.body-container {
  padding: 75px;
  background-color: rgb(223, 218, 211);
}
/* About section */
#about {
  display: flex;
  padding-top: 50px;
  font-family: "Times New Roman", Times, serif;
}

h2 {
  text-align-last: right;
  border-right-style: solid;
  border-width: 5px;
  font-family: monospace;
  font-weight: normal;
  color: dimgrey;
  font-size: 3.5em;
  padding-right: 7px;
  margin-left: 5px;
  align-items: baseline;
}
#about p {
  margin-left: 20px;
  padding: 50px;
}

/* Work Section */
.work-section {
  padding-left: 34px;
}
.work-container {
  margin: auto;
}

.footer {
  padding: 20px 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  width: 100%;
}
.container-fluid {
  justify-content: center;
  align-items: first baseline;
}
#contact h2 {
  align-items: baseline;
  width: 18%;
  padding-left: 0;
}
#contact {
  background-color: rgb(223, 218, 211);
}
footer a {
  /* padding: 10%; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: dimgrey;
}
